/*  your css code here. If applicable */
.main {
    background-color: #f5f5f5;
}
.main .body {
    display: flex;
    /* justify-content: space-between; */
}

.main .header {
    background-color:#011e29;
    text-align: center;
    color: white;
    padding: 5px;
}

.main .body .list {
    display: block;
    background-color: white;
    border-radius: 5px;
    width: 32%;
    text-align: center;
    padding: 5px;
}

.main .body .article {
    background-color: white;
    border-radius: 5px;
    width: 32%;
    text-align: center;
    padding: 5px;
}

.main .body .image {
    background-color: white;
    border-radius: 5px;
    width: 32%;
    text-align: center;
    padding: 5px;
}